<%- layout('/internal_layout.ejs') %>
<div class="row" >
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
</div>

<div id="actionProject" class="row" >
		<div class="col-lg-1 text-center">			
			<a href="/tested/<%=req.projectCurrent.name%>/<%=req.packetId%>/newtest" class="text-center">
				<img class="img-responsive" src="/images/newtest.png">				
			</a>
		</div>
		<div class="col-lg-1 text-center">			
			<a href="/tested/<%=req.projectCurrent.name%>/<%=req.packetId%>/newpacket" id="newPacket" class="text-center">
				<img class="img-responsive" src="/images/newpacket.png">				
			</a>
		</div>
</div>


<div id="contentProject" class="row" >
	<%for(var i=0;i<tests.length;i++){%>
	<div class="col-lg-2 text-center">			
		<%if(tests[i].type == "t"){%>
			<a href="#" class="text-center">
					<img class="img-responsive" src="/images/test.png">									
				<%=tests[i].name%>
			</a>
		<%}else%>
		<%if(tests[i].type == "p"){%>
			<a href="/tested/<%=req.projectCurrent.name%>/<%=tests[i].id%>" class="text-center">					
					<img class="img-responsive" src="/images/packet.png">				
				<%=tests[i].name%>
			</a>
		<%}%>
	</div>
	<%}%>
</div>

